@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: roboto, serif;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main{
  flex: 1;
}

.header-container, .hero-container{
  background-color: #1F2937;
}

.hero-container{
  display: flex;
  padding: 80px 0px;
  justify-content: space-between;
}

.hero-left{
  padding-right: 200px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

header{
  height: 72px;
}

h1, h2{
  font-size: 48px;
  color: #F9FAF8;
}

h1{
  font-size: 24px;
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

a, .second-text{
  font-size: 18px;
  color: #E5E7EB;
}

a{
  text-decoration: none;
}

.sign-up1, .sign-up2{
  font-weight: 900;
  background-color: #3882f6;
  color:#f9faf8;
  border-radius: 8px;
}

.sign-up1{
  border: none;
  padding: 5px 30px;
  margin-top: 10px;
}

.sign-up2{
  border: 2px solid #eeeeee;
  padding: 5px 30px;
  align-self: center;
}

.main-image{
  border-radius: 10px;
}

.info, .quote{
  font-size: 36px;
  color: #1F2937;
}

.info{
  font-weight: 900;
  text-align: center;
  margin: 48px 0;
}

.quote{
  font-weight: 300;
  text-align: justify;
  width: 50%;
  margin: auto;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.card{
  border: 5px solid #3882F6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.card-text{
  text-align: center;
}

.quote-container{
  background-color: #E5E7EB;
  padding: 100px;
}

cite{
  display: block;
  text-align: end;
}

.cta-container{
  padding: 48px;
  display: flex;
  justify-content: center;
}

.cta{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 24px;
}

.cta-text1{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.cta-text2{
  font-size: 18px;
  color: #e5e7eb;
}

.footer{
  background-color: #1F2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 72px;
}