@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: roboto, serif;
}

body{
  height: 100vh;
}

.header-container, .hero-container{
  background-color: #1F2937;
}

.hero-container{
  display: flex;
  padding: 80px 0px;
  justify-content: space-between;
}

.hero-left{
  padding-right: 200px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: auto;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: auto;
}

header{
  height: 72px;
}

h1, h2{
  font-size: 48px;
  color: #F9FAF8;
}

h1{
  font-size: 24px;
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

a, .second-text{
  font-size: 18px;
  color: #E5E7EB;
}

a{
  text-decoration: none;
}

button{
  font-weight: 900;
  background-color: #3882f6;
  color:#f9faf8;
  padding: 5px 30px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
